.venv/
venv/
__pycache__/
*.pyc
node_modules/
package-lock.json
skills-lock.json
.firebase/
*-debug.log
firebase-debug.log
dispose/
log.txt
data/tasks.json
*.json
!firebase.json
!package.json
!package-lock.json
.agents
firestore.rules