
.title {
    font-family: 'Sour Gummy', sans-serif;
    font-size: 6rem;
    font-weight: 600;
}
.side-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #CCFFCC;
    width: 27%;
    height: 100vh;
    left: 0;
    top: 0;
    gap: 10px;
    overflow: auto;
}
.tabs {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 15px;
    height: fit-content;
    box-sizing: border-box;
}
.tab {
    display: flex;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    outline: 1px solid #2f4f44;
    box-sizing: border-box; 
    transition: background-color 0.5s ease;
}
.tab:hover {
    background-color: #b4fcb4;
}
.tab-content {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 3%;
}
.tab-icon {
    color: #1B4D1B;
}
.tab-description {
    font-family: 'Sour Gummy', sans-serif;
    margin-left: 10px;
    font-size: 125%;
}
.groups {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 6%;
}
.group-title {
    font-family: 'Sour Gummy', sans-serif;
    margin-left: 10%;
    font-size: 145%;
}
.group-tabs {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 16%;
    margin-top: 4%;
    gap: 10px;
    max-height: 120px;
    overflow-y: auto;
}
.group-tabs div {
    transition: background-color 0.5s ease;
}
.group-tabs div:hover {
    border-radius: 10px;
    background-color: #b4fcb4;
}
.main {
    position: absolute;
    top: 0;
    left: 27%;
    background-color: #e8ffe8;
    width: 73vw;
    height: 100vh;
}
.hide-all {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(113, 113, 113, 0.48);
}
.context-menu {
    display: inherit;
    position: absolute;
    width: fit-content;
    min-width: 30vw;
    height: 15vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: #b4fcb4;
    padding: 24px 24px;
}

.context-input {
    all: unset;
    display: inherit;
    width: 90%;
    height: 40%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #70f670;
    color: #1B4D1B;
    font-family: 'Sour Gummy', sans-serif;
}

.default {
    display: block; /* set to block NOT FLEX to activate */
    padding: 48px 48px;
}
.default-icon {
    font-size: 200;
    margin-top: 30vh;
    margin-left: 10vw;
}
.default-content {
    display: inherit;
    color: #2f4f44d0;
}
.default-text {
    margin-top: -18vh;
    margin-left: 23vw;
    font-family: 'Sour Gummy', sans-serif;
    font-size: 350%;
    font-weight: 700;
}
.Today {
    display: none;
    padding: 48px 48px;
}
.tasks {
    display: inherit;
    flex-direction: column;
    color: #263a33;
    font-family: 'Sour Gummy', sans-serif;
    font-size: 100%;
    font-weight: 500;
    gap: 20px;
}
.task {
    display: inherit;
    padding: 12px;
    width: 63vw;
    border-radius: 10px;
    background: #b4fcb4;
    align-items: center;
}
.toggle-task {
    all: unset;
    display: inherit;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #93fa93;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}
.toggle-task:hover {
    background-color: #70f670;
}
.task-description {
    font-size: 30px;
    padding: 0px 15px;
}
.check-task {
    font-size: 250%;
    margin: 0;
    color: #3a2626;
}

.context-description {
    font-family: 'Sour Gummy', sans-serif;
    font-weight: 500;
    font-size: 150%;
    padding: 24px 0px;
    margin-left: 5%;
}
