:root {
    --primary-background-color: #e8ffe8;
    --secondary-background-color: #CCFFCC;
    --primary-highlight-color: #b4fcb4;
    --secondary-highlight-color: #93fa93;

    --dark-text-color: #3a2626;
    --text-color: #1B4D1B;
    --outline-color: #2f4f44;

    --text-l1: 12vw;
    --text-l2: 6vw;
    --text-l3: 3vw;
    --text-l4: 1vw;
    --text-l5: 0.5vw;
    --border-radi: 10px;
    --border-extra-radi: 20px;
    --outline-weight: 1px;
    --outline-heavy-weight: 2px;
}